<span><b>Details about {{ pet.name }}</b></span>
<button type="button" class="btn btn-link float-right" [routerLink]="['']">Home</button>
<div class="container alert-primary">
  <table class="table">
    <tbody>
      <tr>
        <th>Pet type:</th>
        <td>{{ pet.type }}</td>
      </tr>
      <tr>
        <th>Description:</th>
        <td>{{ pet.description }}</td>
      </tr>
      <tr>
        <th>Skills:</th>
        <td>
          <div *ngIf="pet.skill1">{{ pet.skill1 }}</div>
          <div *ngIf="pet.skill2">{{ pet.skill2 }}</div>
          <div *ngIf="pet.skill3">{{ pet.skill3 }}</div>
        </td>
      </tr>
      <tr>
        <th>Likes:</th>
        <td>{{ pet.likes }}</td>
      </tr>
    </tbody>
  </table>
  <div class="btn-group pull-right btn-group-justified" role="group">
      <button *ngIf="!like" type="button" class="btn btn-primary" (click)="likePet()">Like this pet</button>
      <button *ngIf="like" type="button" class="btn">You liked this pet!</button>
      <button type="button" class="btn btn-success" (click)="adoptPet()">Adopt this pet!</button>
  </div>
</div>